:root {
    --purple: rgb(183, 153, 255);
    --purpleBlue: rgb(172, 188, 255);
    --blue: rgb(174, 226, 255);
    --white: rgb(230, 255, 253);
}

body {
    animation: background-pan 5s linear infinite;
    background: linear-Gradient(
        to right,
        var(--blue),
        var(--purpleBlue),
        var(--purpleBlue),
        var(--blue)
    );
    background-size: 200%;


    color: var(--white);
    font-family: "Rubik", sans-serif;
}

.title {
    font-size: 80px;
    margin-left: 40px;
}

.specialText {
    color: var(--purple);
}

.backbutton {
    height: 80px;
    width: 80px;

    border: 2px solid;
    border-radius: 50px;
    border-color: var(--white);

    top: 85%;
    left: 2%;

    z-index: 1;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.backbutton button {
    background: none;
    border: none;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;

    color: var(--white);
    font-family: "Rubik", sans-serif;
    font-size: 100px;
}

.backbutton img {
    height: 60px;
    width: 60px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 40px;
    margin-top: 10%;
}

.rezept {
    height: 360px;
    width: 360px;

    border: 2px solid;
    border-radius: 15px;
    border-color: var(--white);
}

.rezept h1 {
    margin-left: 10px;
}

.rezept p {
    margin-left: 10px;
}